.venv-build/
.venv311/
__pycache__/
*.pyc

build/
dist/
models/

processed/
processed_ocr/
processed_ocr2/
processed_one/
processed_single/

source/
source_one/
source_single/
*.pdf
*.txt

source_one.pdf
